* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  overflow-x: hidden;
}

header {
  width: 100%;
}

.container {
  width: 1440px;
  height: 300px;
  margin: 0 auto;
  margin-left: 30px;
}

.navv {
  width: 80%;
  height: 70px;
  margin: 0 auto;
}
.navv_brand {
  font-family: "Space Mono", monospace;
  color: #495567;
  height: 68.5599994659px;
  width: 107.8171463013px;
  font-size: 34px;
  display: flex;
  align-items: center;
  font-weight: bold;
}
.navv_ul {
  display: flex;
  justify-content: space-around;
  width: 25%;
  margin-left: 120px;
}
.navv_ul_item {
  list-style: none;
  margin-top: -45px;
}
.navv_ul_item a {
  text-decoration: none;
  color: #939caa;
  font-family: Space Mono;
  font-weight: 550;
}
.navv_ul_item a:hover {
  color: #fcb72b;
}
.navv_btn {
  margin-left: 972px;
  margin-top: -60px;
}
.navv_btn_item {
  width: 180px;
  height: 53px;
  background-color: #fcb72b;
  border: none;
  color: white;
  font-family: Space Mono;
}
.navv_btn_item:hover {
  background-color: white;
  color: #fcb72b;
  border: 2px solid #fcb72b;
}

.main {
  margin-left: -70px;
}
.main_img {
  margin-top: -220px;
}
.main_img_mask {
  width: 1440px;
  height: 200px;
  background-color: #2f3b59;
  opacity: 75%;
  margin-top: -219px;
}
.main_h2 {
  position: relative;
  color: rgb(255, 255, 255);
  font-family: Space Mono;
  font-size: 56px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -1.5px;
  text-align: left;
  height: 112px;
  width: 500px;
  left: 165px;
  top: -125px;
}
.main_ellipse {
  margin-left: 1237px;
  top: -240px;
  position: relative;
}

.article {
  margin-left: 150px;
}
.article_h3 {
  font-family: "Space Mono", monospace;
  color: #495567;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -2.1428570747px;
  text-align: left;
  height: 96px;
  width: 445px;
}
.article_p {
  font-family: Lexend Deca;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;
  height: 100px;
  width: 445px;
  color: #939caa;
  margin-top: 20px;
}
.article_ellipse {
  position: relative;
  left: 1200px;
  top: -600px;
  z-index: -1;
}
.article_img_girl {
  margin-left: 700px;
  margin-top: -340px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.article_strelka {
  margin-left: 610px;
  top: -173px;
  position: relative;
}
.article_img_nature {
  margin-left: -500px;
}
.article_strelka2 {
  position: relative;
  top: -140px;
  left: -705px;
}
.article_ellipse2 {
  margin-left: -1450px;
}
.article_r {
  margin-left: 840px;
  margin-top: -340px;
}

.article2 {
  width: 1110px;
  height: 608px;
  margin: 0 auto;
}
.article2_h4 {
  height: 48px;
  width: 540px;
  font-family: Space Mono;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -2.1428570747px;
  text-align: center;
  color: #495567;
  margin-left: 270px;
  margin-top: 300px;
}
.article2_q {
  display: flex;
  justify-content: space-around;
  margin-left: 20px;
}
.article2_q_1_img1 {
  margin-top: 100px;
}
.article2_q_1_b1 {
  position: relative;
  left: -170px;
  top: 180px;
  z-index: 1;
}
.article2_q_1_h5 {
  font-family: Space Mono;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -1.0714285374px;
  text-align: center;
  height: 28px;
  width: 350px;
  color: #495567;
  margin-top: 80px;
  margin-left: -50px;
}
.article2_q_1_p {
  font-family: Lexend Deca;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: center;
  height: 75px;
  width: 350px;
  color: #939caa;
  margin-top: 40px;
  margin-left: -50px;
}

.article3 {
  width: 1110px;
  height: 990px;
  margin: 150px auto;
}
.article3_h5 {
  height: 48px;
  width: 540px;
  color: #495567;
  font-family: Space Mono;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -2.1428570747px;
  margin-left: 485px;
}
.article3_h6 {
  height: 48px;
  width: 350px;
  color: #495567;
  font-family: Space Mono;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -1.7857142687px;
  margin-top: 60px;
}
.article3_h61 {
  height: 48px;
  width: 350px;
  color: #495567;
  font-family: Space Mono;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -1.7857142687px;
  margin-top: 60px;
  position: relative;
  top: 140px;
}
.article3 .accordion {
  width: 730px;
  margin-top: -174px;
  margin-left: 360px;
}
.article3 .accordion .accordion-item {
  margin-bottom: 16px;
  background: #F2F5F9;
}
.article3 .accordion .accordion-item:hover {
  background: #FFF4DF;
}
.article3 .accordion .accordion-item .accordion-button {
  background: #F2F5F9;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07143px;
  color: #495567;
}
.article3 .accordion .accordion-item .accordion-button:hover {
  background: #FFF4DF;
}
.article3 .accordion .accordion-item .accordion-body {
  width: 650px;
  font-family: "Lexend Deca" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #495567;
}

.footer {
  margin-left: -180px;
  margin-top: -300px;
}
.footer_bg_img {
  background: url(/images/www.svg) no-repeat;
  width: 1440px;
  height: 300px;
}
.footer_bg_img_h4 {
  height: 96px;
  width: 415px;
  left: 178px;
  top: 101px;
  font-family: Space Mono;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -2.1428570747px;
  text-align: left;
  color: #fff;
  position: relative;
}
.footer_bg_img_play {
  margin-left: 900px;
  position: relative;
  top: 20px;
}
.footer_bg_img_play img {
  margin-left: 20px;
}
.footer_bg2 {
  width: 1440px;
  height: 96px;
  background-color: #333a44;
  padding-left: 180px;
  padding-top: 25px;
}
.footer_bg2 h1 {
  color: #fff;
}
.footer_icons {
  margin-left: 1150px;
  margin-top: -50px;
}
.footer_icons_ul {
  display: flex;
  justify-content: space-around;
  width: 50%;
}
.footer_icons_ul_item {
  list-style: none;
  margin-left: 30px;
}
.footer_icons_ul_item_img:hover {
  background-color: #fff;
}
.footer_icons_ul_item:hover {
  color: #fff;
}/*# sourceMappingURL=style2.css.map */